body {
    background-color: aqua;
}

.jumbotron {
    background: none;
    color: black;
}

#burger-header {
    width: 25%;
}

li {
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
    list-style: none;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
}

.form-group {
    margin-bottom: 5px;
}